
#timer
  .timer
    0 sec
  .timer-controls
    .start.btn.btn-success Start
    .end.btn.btn-danger Pause
    .total.hide
.page-header
  = link_to practices_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 New practice

= render 'form'

:javascript
  var $t = $('.timer');
  $('.start').on('click', function() { $t.timer(); });
  $('.end').on('click', function() { $t.timer('pause'); });
  $('.submit').on('click', function() {
    $('.seconds-elapsed').val($('.total').text());
  });
