
#timer
  .start.btn.btn-default Start
  .timer
  .end.btn.btn-default Pause
.page-header
  = link_to practices_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1 New practice

= render 'form'

:javascript
  var $t = $('.timer');
  $('.start').on('click', function() {
    $('.timer').timer();
  });
